<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Telemetry</title>
    <link href="/CSS/navBar.css" rel="stylesheet">
    <link href="/CSS/history.css" rel="stylesheet">
</head>

<body>

    <div id="navbar">
        <img id="logo" src="images/logo.svg" />
        <h1>Telemetry server</h1>
        <div id="debugSwitch">
            <label class="label">Debug</label>
            <label class="switch">
            <input type="checkbox" id="debug">
            <span class="slider round"></span>
          </label>
        </div>
        <div id="carStatus" class="">
            <p></p>
        </div>
        <div class="dropdown">
            <button class="dropbtn">Menu 
          <i class="fa fa-caret-down"></i>
        </button>
            <div class="dropdown-content">
                <a href="/">Dashboard</a>
                <a href="live">Live</a>
                <a href="history">History</a>
                <a href="converter">Converter</a>
                <a href="settings">Settings</a>
                <a href="logout?_method=DELETE">Log out</a>
            </div>
        </div>
    </div>
    <main>
        <div id="addNewChart">
            <form method="get" action="/getHistory" class="optionsDiv" id="addNewChartOptions">
                <div class="selectOptionsDiv">
                    <label for="canDropDown" class="optionLabel">Select CAN:</label>
                    <select name="can" id="canDropDown" class="optionInput">
                    </select>
                </div>

                <div id=dateDiv class="selectOptionsDiv">
                    <label for="date">select date:</label>
                    <input type="date" id="date" name="date" required value="2022-01-20" class="optionInput">
                </div>

                <div id="hoursDiv" class="selectOptionsDiv">
                    <label for="hourStart">select start time:</label><br>
                    <input type="time" id="hourStart" name="hourStart" min="00:00" max="23:59" required value="13:33" class="optionInput">
                    <label for="hourEnd">select ending time:</label><br>
                    <input type="time" id="hourEnd" name="hourEnd" min="00:00" max="23:59" required value="00:00" class="optionInput">
                </div>

                <input type="submit" id="selectCANBtn" value="Create" class="optionInput">
            </form>
        </div>

    </main>

    <script src="javascript/navBar.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="javascript/chartSettings.js"></script>
    <script src="javascript/history.js"></script>
</body>

</html>