<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Telemetry</title>
    <link href="/CSS/navBar.css" rel="stylesheet">
    <link href="/CSS/index.css" rel="stylesheet">
</head>

<body>
    <div id="navbar">
        <img id="logo" src="images/logo.svg" />
        <h1>Telemetry server</h1>
        <div id="carStatus" class="">
            <p></p>
        </div>

        <div class="dropdown">
            <button class="dropbtn">Menu 
          <i class="fa fa-caret-down"></i>
        </button>
            <div class="dropdown-content">
                <a href="/">Dashboard</a>
                <a href="live">Live</a>
                <a href="history">History</a>
                <a href="settings">Settings</a>
                <a href="/logout?_method=DELETE">Log out</a>
            </div>
        </div>
    </div>
    <main>
        <div id="dashboard">

        </div>
    </main>
    <script src="javascript/navBar.js"></script>
    <script src="javascript/index.js"></script>
</body>

</html>