<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Telemetry</title>
    <link href="/CSS/navBar.css" rel="stylesheet">
    <link href="/CSS/live.css" rel="stylesheet">
</head>

<body>

    <div id="navbar">
        <img id="logo" src="images/logo.svg" />
        <h1>Telemetry server</h1>
        <div id="debugSwitch">
            <label class="label">Debug</label>
            <label class="switch">
            <input type="checkbox" id="debug">
            <span class="slider round"></span>
          </label>
        </div>
        <div id="carStatus" class="">
            <p></p>
        </div>
        <div class="dropdown">
            <button class="dropbtn">Menu 
          <i class="fa fa-caret-down"></i>
        </button>
            <div class="dropdown-content">
                <a href="/">Dashboard</a>
                <a href="live">Live</a>
                <a href="history">History</a>
                <a href="converter">Converter</a>
                <a href="settings">Settings</a>
                <a href="logout?_method=DELETE">Log out</a>
            </div>
        </div>
    </div>

    <main>
        <div id="addNewChart">
            <div class="optionsDiv" id="addNewChartOptions">
                <label for="canDropDown" class="optionLabel">Select CAN:</label>
                <select name="can" id="canDropDown" class="dropDown">
                </select>
                <label for="xAxis" class="optionLabel">Select X-axis time:</label>
                <select name="xAxis" id="xAxis" class="dropDown">
                </select>
                <input type="button" id="selectCANBtn" value="Create" onclick="addChart()">
                </select>
            </div>
        </div>
    </main>
    <script src="javascript/navBar.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="javascript/chartSettings.js"></script>
    <script src="javascript/live.js"></script>
</body>

</html>