<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Telemetry</title>
    <link href="/CSS/navBar.css" rel="stylesheet">
    <link href="/CSS/settings.css" rel="stylesheet">
</head>
<body>

<div id="navbar">
    <ul id="navList">
        <a href="/"><li class="">Home</li></a>
        <a href="live"><li class="">Live</li></a>
        <a href="history"><li class="">History</li></a>
        <a href="settings"> <li class="active">Settings</li></a>
    </ul>
</div>

<script src="javascript/index.js"></script>
</body>
</html>