html {
    background-color: #585b5d
}

main {
    display: flex;
}

#convertForm {
    width: 33%;
    text-align: center;
    padding: 1em 0 1em 0;
    background-color: #6e7375;
    border-radius: 5px;
}

.input {
    width: 80%;
    height: 2em;
    padding: 0;
    border: 0;
    margin: 0.5em;
    border-radius: 5px;
}

#valueTable {
    margin: 0 auto 0 auto;
    width: 100%;
    background-color: #6e7375;
}

table,
th,
td {
    height: 5%;
    border: 1px solid black;
}