html {
    background-color: #585b5d
}

#addNewChart {
    background-color: white;
    width: 20%;
    min-width: 100px;
    display: flex;
    flex-wrap: wrap;
    margin: 1em;
    border-style: solid;
    border-color: black;
    border-radius: 5px;
}

#addNewChartOptions {
    margin-left: auto;
    margin-right: 0;
}

.chartDiv {
    width: auto;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    margin: 1em;
    background-color: #cdcdcd;
    border-radius: 5px;
    box-shadow: 5px 5px 5px 5px #46484A;
    text-align: center;
}

.chart {
    position: relative;
    width: 100%;
    height: 400px!important;
    margin: 0;
    text-align: center;
}

.optionsDiv {
    width: 100%;
    min-width: 80px;
    display: flex;
    flex-wrap: wrap;
    border-style: solid;
    border-width: 2px;
    border-color: darkgrey;
    border-radius: inherit;
    padding: 0.5em;
    text-align: center;
}

.labelDiv {
    width: 100%;
    text-align: center;
}

.optionLabel {
    margin: 0.5em auto;
    width: 100%;
}

.timeDropDown {
    margin: auto;
}

.dropDown {
    width: 75%;
    margin: 0.5em auto;
}

#selectCANBtn {
    width: 75%;
    margin: 0.5em auto;
}

.selectTimeButton {
    margin: auto;
    width: 75%;
}

.removeButtonDiv {
    width: 100%;
    height: 5%;
    display: flex;
    justify-content: flex-end;
}

.deleteChartButton {
    margin: 0 0 auto auto;
    width: 100%;
    height: 100%;
}

.numberValues {
    margin: auto;
    border-style: none;
    font-weight: bolder;
}

.numberValuesLabel {
    margin: auto;
}

.chartHeader {
    width: 100%;
    margin: 0.25em;
}

.chartHeader h2 {
    margin: 0 auto;
}