@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap');
html {
    font-family: 'Montserrat', sans-serif;
    color: black!important;
    font-weight: bold;
    height: 100%;
}

main {
    margin: auto!important;
    margin-top: 3em!important;
    width: 100%!important;
    padding: 2em!important;
}

body {
    display: flex!important;
    margin: 0!important;
    height: 100%!important;
}

#logo {
    height: 2em;
}


/*---------------------------------------*/


/*--------------NAV BAR------------------*/

#navbar {
    font-family: 'Montserrat', sans-serif!important;
    display: flex;
    flex-wrap: wrap;
    font-size: 25px;
    font-family: 'Rubik', sans-serif;
    height: 2.5em;
    width: 100%;
    min-width: 820px;
    position: fixed;
    left: 0;
    top: 0;
    margin: auto;
    background: #000000;
    z-index: 1;
}

#navbar h1 {
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    color: white;
    font-size: 1.5em;
    height: inherit;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: auto;
    margin-right: auto;
}

.navbar a {
    float: left;
    font-size: 16px;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.dropdown {
    margin-right: 0%;
    float: right;
    overflow: hidden;
}


/* Dropdown button */

.dropdown .dropbtn {
    font-size: 1em;
    width: 100%;
    height: 2.5em;
    min-width: 160px;
    border: none;
    outline: none;
    color: white;
    background-color: #303030;
    font-family: inherit;
    text-align: center;
}


/* Add a red background color to navbar links on hover */

.navbar a:hover,
.dropdown:hover .dropbtn {
    background-color: red;
}


/* Dropdown content (hidden by default) */

.dropdown-content {
    display: none;
    background-color: #000000;
    width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    border-radius: 5px;
}


/* Links inside the dropdown */

.dropdown-content a {
    float: none;
    color: rgb(255, 255, 255);
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}


/* Add a grey background color to dropdown links on hover */

.dropdown-content a:hover {
    background-color: rgb(136, 0, 0);
}


/* Show the dropdown menu on hover */

.dropdown:hover .dropdown-content {
    display: block;
}

#carStatus {
    display: flex;
    flex-wrap: wrap;
    padding-left: 1em;
    padding-right: 1em;
    height: 100%;
}

#carStatus p {
    color: white;
    margin: auto;
}

.notActive {
    background-color: rgb(136, 0, 0);
}

.active {
    background-color: rgb(5, 136, 0);
}

#debugSwitch {
    height: inherit;
    display: flex;
    flex-direction: column;
    margin: 0 0.5em;
}

.switch {
    position: relative;
    display: inline-block;
    width: 30px;
    height: 15px;
    margin: auto;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    margin: auto;
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 13px;
    width: 13px;
    left: 0px;
    bottom: 1px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked+.slider {
    background-color: #2196F3;
}

input:focus+.slider {
    box-shadow: 0 0 1px #2196F3;
}

input:checked+.slider:before {
    -webkit-transform: translateX(18px);
    -ms-transform: translateX(18px);
    transform: translateX(18px);
}


/* Rounded sliders */

.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

.label {
    color: white;
    font-size: 0.5em;
}